<%- include('../partials/header') %>
<section class="client-index">
    
<h2 class="client-header">Client List</h2>
<table id="list">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% clients.forEach(function(c) { %>
            <tr>
                <td><%= c.clientName %></td>
                <br>
                <td><%= c.clientPhoneNumber %></td>
                <br>
                <td><%= c.clientEmailAddress %></td>
                <td><a class="details" href="/clients/<%= c._id %>">More Details</a></td>
            </tr>
        <% }) %>
        <a href="/clients/new">Add New Client</a>
    </tbody>
</table>
</section>
<%- include('../partials/footer') %>