<%- include('../partials/header') %>
<section id="show-page">
    <div>Client Name:</div>
    <div><%= clients.clientName %></div>
    <div>Client Phone Number:</div>
    <div><%= clients.clientPhoneNumber %></div>
    <div>Client Email Address:</div>
    <div><%= clients.clientEmailAddress %></div>
    <div>Notes:</div>
    <div><%= clients.notes %></div>
    <div>Follow-Up:</div>
    <div><%= clients.followUp %></div>
</section>
<br><br><h2>Activities</h2>
<td> <%= a.activities %></td>
<td>
    <% if (user?._id.equals(a.user)) { %>
        <form action="/clients/<%= c._id %>?+method=DELETE" method="POST">
            <button type="submit">X</button>
        </form>
   <% } %>
</td>
<a href="/clients/new">Add New Client</a>
<a href="/activities/new">Add New Activity</a>
<% } %> <%- include('../partials/footer') %>