<%- include('../partials/header') %>
<section id="show-page">
    <div>Client Name:</div>
    <div><%= clients.clientName %></div>
    <div>Client Phone Number:</div>
    <div><%= clients.clientPhoneNumber %></div>
    <div>Client Email Address:</div>
    <div><%= clients.clientEmailAddress %></div>
    <div>Status:</div>
    <div><%= clients.status %></div>
    <div>Follow-Up:</div>
    <div><%= clients.followUp %></div>
    <div>Appointment Time:</div>
    <div><%= clients.appointmentTime %></div>
    <a href="/clients/new">Add New Client</a>

<br><br><h2>Activities</h2>

<a href="/activities/new">Add New Activity</a>
</section>
<td>
    <% if (user?._id.equals(user)) { %>
        <form action="/clients/<%= clients._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
        </form>
   <% } %>
</td>

<%- include('../partials/footer') %>