<section id="show-page">
    <div>Client Name:</div>
    <div><%= accountHolder.clientName %></div>
    <div>Client Phone Number:</div>
    <div><%= accountHolder.clientPhoneNumber %></div>
    <div>Client Email Address:</div>
    <div><%= accountHolder.clientEmailAddress %></div>
    <div>Notes:</div>
    <div><%= accountHolder.notes %></div>
    <div>Follow-Up:</div>
    <div><%= accountHolder.followUp %></div>
</section>
<a href="/accountHolders/clients/new">Add New Client</a>